@{
    Layout = "~/Views/Shared/Index.cshtml";
    }
<script type="text/javascript">
function kiemtranangcao ()
{
    if (document.tkncao.giatu.value.length == 0 || document.tkncao.giaden.value.length == 0)
	{
		alert('Bạn chưa nhập giá để tìm kiếm');
		return false;
	}
	else
	{
        var s = document.tkncao.giatu.value;
        document.tkncao.giatu.value = s;
		//document.location="../SanPham/KQTimKiem.cshtml?TimSP="+s;
		//alert('s');
	}
	
}
</script>
<div class="giua" style="z-index:0;"> 
<div class="image">	
	  <!--div nay cho khung chinh giua -->
	  <div class="slogan">
	  			<h1 align="center">Tìm Kiếm Nâng Cao</h1>
		</div><div class="h_30"></div>
		
<div class="sanpham"><!-- bat dau san pham --><!-- ket thuc hang ngang dau tien -->
		
		
		  <div class="clear"></div><!-- ket thuc hang ngang thu 2 -->
		  <!-- ket thuc hang ngang thu 3 -->
          <!-- them trang 2 và trang 3-->
 @using (Html.BeginForm("KQTimKiemNangCao", "SanPham", FormMethod.Post, new { id = "tkncao", name = "tkncao", onSubmit = "return kiemtranangcao();" }))
            {
  <table width="580" height="88" border="0">
    <tr>
      <td class="style2" style="height: 19px; width: 320px"><div align="right">Loại Sản Phẩm</div></td>
      <td style="height: 19px">
	 <select name="loaisp" style="width: 173px">
         <option value="tatca">Tất Cả </option>

			 @{Html.RenderAction("TKDanhMuc", "SanPham");}
				</select></td>
    </tr>
    <tr>
      <td class="style2" style="width: 280px"><div align="right">Giá Từ</div></td>
      <td><input name="giatu" type="text" />&nbsp;</td>
    </tr>
    <tr>
      <td class="style2" style="height: 21px; width: 280px"><div align="right">Giá Đến</div></td>
      <td style="height: 21px"><input name="giaden" type="text" /></td>
    </tr>
    <tr>
      <td>
      </td>
      <td >
        <input type="submit" name="timkiem" id="timkiem" value="Tìm Kiếm" />
      </td>
    </tr>
  </table>
     }

			
			<!-- ket thuc phan them trang 2 và trang 3-->				
		</div><!-- ket thuc san pham -->	
		</div>
</div>