@model IEnumerable<MVCMobile.ServiceReferenceDanhMuc.DanhMucSP>
@foreach (var item in Model)
    {
	 
    <option value="@Html.DisplayFor(q => item.MaDM).ToString().Trim()"> @Html.DisplayFor(q => item.TenDM).ToString().Trim() </option>
    }  