@{
    Layout = "~/Views/Shared/Index.cshtml";
}
<div class="giua" style="z-index:0;"> 
		<div class="image">	
	  <!--div nay cho khung chinh giua -->
	  <div class="slogan">
	  			<h1 align="center"><span class="footer">CÔNG TY TNHH CESC</span></h1>
		</div><div class="h_30"></div>
		<div class="doanvan">
        <p align="center">
        <img src="../Content/image/sg.jpg" height="250" width="400" /></p>
        </br>
         <p align="center">
        <img src="../Content/image/hinh1.jpg" height="250" width="400" /></p>
        </br>
         <p align="center">
        <img src="../Content/image/hinh2.jpg" height="250" width="400" /></p>
    
		
 


				</div>
   </div>
    
</div>