@{
    Layout = "~/Views/Shared/Index.cshtml";
}

<div class="giua">
	<div class="image">	
	<div class="slogan">
	  			<h1 align="center">Hiện tại công ty chúng tôi chưa có sản phẩm khuyến mãi</h1>
                <h3>&nbsp;</h3>
				<h3>Xin cảm ơn quý khách đã ghé thăm  </h3>
		</div><div class="h_30"></div>
        </div>
			
		</div>

