@{
    Layout = "~/Views/Shared/Index.cshtml";
}
<div class="giua">
	<div class="image">
	 <div class="slogan">
	  			<h1 align="center">Địa Chỉ Liên Hệ </h1>
		</div>
		 <p align="center">	 CÔNG TY TNHH  CESC</p>
         <p align="center"> Trụ sở chính : 273 AN DƯƠNG VƯƠNG -F3-Q5-HCM</p>
 <p align="center"> Website: www.dienthoai.com.vn</p> <div class="h_30"></div>
		<div class="hinhid">
		  <p><img src="../Content/image/DIACHI.png" alt="diachi" /></p>
		  <h3>Địa chỉ 273 An Dương Vương, Phường 3 ,Quận 5,Hồ Chí Minh.</h3>
		</div>
        </div>
   </div>
