@{
    Layout = "~/Views/Shared/Index.cshtml";
}
<div class="giua" style="z-index:0;"> 
<div class="image">	
	  <!--div nay cho khung chinh giua -->
	  <div class="slogan">
	  			<h1 align="center">Sản Phẩm</h1>
		</div><div class="h_30"></div>
		
<div class="sanpham"><!-- bat dau san pham -->	
<div class="ngang"> <!-- bat dau khung thu nhat -->
														

					<div class="o2">
					<img src="../Content/image/phukien.jpg" height="170" width="200"  />				  
					<h3>&nbsp;</h3>
					<h3>tai nghe sony </h3>
				  	</a><strong>Giá bán</strong></br>
					<span class="gia">69,000 VNĐ</span>									

</div><!-- ket thuc o1 san pham dau tien -->

					<div class="o2">
					<img src="../Content/image/phukien1.jpg" height="170" width="200"  />				  
					<h3>&nbsp;</h3>
					<h3>pin nokia </h3>
				  	</a><strong>Giá bán</strong></br>
					<span class="gia">115,000 VNĐ</span>					
                        																									


</div><!--  ket thuc 01 san pham thu 2 -->



		</div><!-- ket thuc hang ngang dau tien -->
		
		
		</div>
		</div>
</div>
